body {
    height: 100vh;
    margin: 0;
    color: #fff;
    background: #1e1f26;
  }
  
  * {
    box-sizing: border-box;
  }
  
  #content {
    display: grid;
    grid-template-areas: ". . ." "title title title" ". . .";
    justify-items: center;
    align-items: center;
    margin: 50px;
    height: calc(100% - 100px);
  }
  
  h1 {
    user-select: none;
    grid-area: title;
  }
  
  .select-box {
    user-select: none;
    padding: 5px;
    border: 5px solid #808080;
  }
  .selected {
    border-color: #6b98ff;
  }
  
  #drag-box {
    position: absolute;
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    opacity: 0;
  }